body {
	background-color: #f1f1f1;
}

.container {
	background-color: white;
	padding-bottom: 1%;
	padding-top: 1%;
}

.home-books .rate-book {
	font-size: 1.2em;
}

.home-books th {
	color: #aaa;
	font-weight: normal;
}

.comment_title {
	color: #428bca;
}

label > input{ /* HIDE RADIO */
	  visibility: hidden; /* Makes input not-clickable */
	  position: absolute; /* Remove input from document flow */
	}
	label > input + img{ /* IMAGE STYLES */
	  cursor:pointer;
	  border:2px solid transparent;
	}
	label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
	  border:2px solid #f00;
	}

